a{
    text-decoration: none;
    color: #22356F;
}
.header{
    display:flex;
    background-color: #F4F9E2;
}
.flexcontainer__yellow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: -5vh;
    background-color: #F4F9E2;
}
/*main{
    display: flex;
    flex-direction: row;
}*/
.title__header-name, .title__name{
    font-family: 'Larsseit', sans-serif;
    font-size: 2.5em;
    letter-spacing: -0.035em;
    color: #62D0DF;
}
.title__header-name{ 
    display: flex;
    justify-content:start;
    align-items: flex-start;
    margin-bottom:25vh;
    margin-left: 9vw;
    margin-top: 2.2vh;
    }
.title__name{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 50vh;
        margin-left: 9vw;
        margin-top: -5vh;
    }
    .title__second{
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -20vh;
        margin-bottom: 35vh;
        margin-left: 10vw;
        font-family: 'Larsseit', sans-serif;
        font-size: 2.5em;
        font-weight: bolder;
        line-height: 120%;
        letter-spacing: -0.035em;
        color:#FFFFFF
    }
    .title__second_description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: -30vh;
        margin-left:-5vw;   margin-bottom: 5vh;     
        padding-right:14vw;
        padding-left: 10VW;
        font-family: 'Larsseit', sans-serif;
        font-size: 2.5em;
        font-weight: normal;
        letter-spacing: -0.035em;
        color:#FFFFFF

    }
    .title__thrive-about{
        /*border: 2px solid red;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left:10vw;
    margin-bottom:25vh;
    /*
    margin-right: 2vw;*/
    font-family: 'Larsseit', sans-serif;
    font-size: 1.5em;
    line-height: 120%;
    letter-spacing: 0.06em;
    font-weight: lighter;
    color: #22356F;
    }
    .title__help{  
        display:flex;
        justify-content:flex-start;
        align-items: center;
        margin-left:-96vw;
        margin-right: 30vw;
        margin-top: 2vh;
        margin-bottom:5vh;
        font-family: 'Larsseit', sans-serif;
        font-size: 1.5em;
        line-height: 120%;
        letter-spacing: 0.06em;
        font-weight: lighter;
        color: rgba(34, 53, 111, 0.5);
    } 
    nav.menu{ 
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: row;
        gap: 15px;
        font-family: 'Larsseit', sans-serif;
        font-size: 1.5em;
        line-height: 120%;
        margin-left: -60vw;
        margin-bottom: 0vh;
        margin-top: 1vh;
    }
    .button__contacts{
        display:flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 200px;
        height:70px;
        margin-left:59vw;
        margin-top:0vh;
        padding-right:3vw;
        padding-left:3vw;
        padding-bottom:2vh;
        background: #62D0DF;
        border-radius: 55px;
        }
    .button__contacts_description{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        font-family: 'Larsseit', sans-serif;
        margin-top: 2vh;
        font-size:1.9em;
        line-height: 100%;        
        border:1;
        text-decoration: none;
        color: #FFFFFF;
    }
    .title__main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    margin-top: -32vh;
    margin-left: -6vw;
    margin-right: 0vw;
    font-family: 'Larsseit', sans-serif;
    font-size: 4em;
    line-height: 120%;
    font-weight: bold;
    letter-spacing: 0.025em;
    color: #22356F;
    }      
    .title__description{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        flex-direction: row;  
        margin-top: 19vh;
        margin-left: -20vw;
        padding-right: 50vw;
        padding-left: 1vw;
        font-family:'Larsseit', sans-serif;
        font-size: 2.5em;
        font-weight: normal;
        line-height: 100%;
        color: #22356F;
    }     
    .img__guy{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -67vh;
        margin-left: 50vw;
    }      
    .button__client{
        display:flex;
        justify-content: center;
        align-content: flex-start;
        margin-top: -10vh;
        margin-left: 10vw;
        background: #F9B640;
        width: 150px;
        height: 50px; 

    }
    .flexcontainer__button{
        display: flex;
        width:100vw;
    }      
    .button__client_description{
        display:flex;
        align-items: center;
        font-family: 'Larsseit', sans-serif;
        font-weight: bolder;
        font-size: 1.2em;
        letter-spacing: 0.1em;    
        color: #FFFFFF;
    }      
    .link__client{
        display:flex;
        justify-content:flex-start;
        align-items: flex-start;
        margin-left: 10vw;
        margin-bottom: 2vh;
        margin-top: -9vh;
        font-family: 'Larsseit', sans-serif;
        font-size: 1.2em;
        font-weight: bolder;
        letter-spacing: 0.1em;
        color: #FAB63E;
    }
    .flexcontainer__blue{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:flex-end;
        /* margin-top: 20vh;*/
        width: 100vw;
        background: #62D0DF;
    }
    .flexcontainer__blue-two{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-end;
        /* margin-top: 20vh;*/
        width: 55vw;
        background: #62D0DF;
    }
    .flexcontainer__white{
        display: flex;
        justify-content: flex-start;
        align-items:flex-end;
        /* margin-top: 20vh;*/
        width: 100vw;
        background: #ffffff;
    }
    .flexcontainer__white-two{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
        margin-top: 40vh;
        padding-right: 15vw;;
        width: 100vw;
        background: #ffffff;
    }
    .thrive__about{
        display:flex;
        align-items: flex-start;
        justify-content: center;
        margin-top:-45vh;
        margin-left:-7vw;
        padding-right:55vw;
        padding-left:15vw;
        font-family: 'Larsseit', sans-serif;
        font-size: 2.5em;
        line-height: 100%;
        letter-spacing: 0.005em;
        color: #22356F; 
    }
    .img__girl{
        display: flex;
        justify-content: flex-start;
        margin-right:3vw;
    }
    .gridcontainer-footer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-column: 1/4;
        grid-row:1/2;
        align-content: center;
        justify-content: space-evenly;
    
    }
    
    .gridcontainer-footer__weight{
        grid-column: 1/2;
        grid-row: 1/2;
        background: #FFE2DE;
}
    .gridcontainer-footer__run{
        grid-column: 2/3;
        grid-row: 1/2;
        background: #C4E769;
    }
    
    .gridcontainer-footer__pump1{
        grid-column: 3/4;
        grid-row: 1/2;
        background: #62D0DF;
    }
    
    .gridcontainer-footer__pump2{
        grid-column: 4/5;
        grid-row: 1/2;
        background: #0052C1;
    }
    .gridcontainer-footer__weight, .gridcontainer-footer__run, .gridcontainer-footer__pump1,.gridcontainer-footer__pump2{
        display: flex;
        justify-content: center;
        font-family: 'Larsseit', sans-serif;
        font-size: 2em;
        line-height: 110%;
        font-style: normal;
        letter-spacing: -0.006em;
        color: #ffffff;
    }
    .gridcontainer-footer__weight_link, .gridcontainer-footer__run_link, .gridcontainer-footer__pump1_link, .gridcontainer-footer__pump2_link{
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }
        .gridcontainer-footer__circle{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-top: 20vh;
            margin-right: 1.5vw;
            margin-bottom:20vh; 
            background: #E9B730;
            width: 15px;
            height: 15px;
            border-radius:10px;

        }
    .menu a:hover, .button__client:hover, .button__contacts_description:hover, .link__client:hover{
            text-decoration: underline;
            color: gray;
            cursor: pointer;
    }
    @media screen and (max-width: 799px){
        .title__main{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap:wrap;
            margin-top: 2vh;
            margin-left: -20vw;
            margin-right: 0vw;
            font-family: 'Larsseit', sans-serif;
            font-size: 3em;
            line-height: 120%;
            font-weight: bold;
            letter-spacing: 0.025em;
            color: #22356F;
            }      
            .title__description{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-content: flex-end;
                flex-direction: row;  
                margin-top: 37vh;
                margin-left: -38vw;
                padding-right: 60vw;
                padding-left: 11vw;
                font-family:'Larsseit', sans-serif;
                font-size: 2em;
                font-weight: normal;
                line-height: 100%;
                color: #22356F;
            }
            .title__header-name, .title__name{
                font-family: 'Larsseit', sans-serif;
                font-size: 2em;
                letter-spacing: -0.035em;
                color: #62D0DF;
            }
            .title__header-name1{ 
                display: flex;
                justify-content:flex-start;
                align-items: flex-start;
                margin-bottom:25vh;
                margin-left: 3vw;
                margin-top: 2.8vh;
                }
                nav.menu { 
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                gap: 5px;
                font-family: 'Larsseit', sans-serif;
                font-size: 1em;
                line-height: 120%;
                margin-left: -45vw;
                margin-bottom: 0vh;
                margin-top: -10vh;
            }  
            .button__contacts{
                display:flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 80px;
                height:40px;
                margin-left:9vw;
                margin-top:2vh;
                padding-right:3vw;
                padding-left:3vw;
                padding-bottom:2vh;
                background: #62D0DF;
                border-radius: 55px;
                }
            .button__contacts_description{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                font-family: 'Larsseit', sans-serif;
                margin-top: 1vh;
                font-size:1em;
                line-height: 100%;        
                border:1;
                text-decoration: none;
                color: #FFFFFF;
            }
            .img__guy{
                display:none;
            }  
            .button__client{
                display:flex;
                justify-content: center;
                align-content: flex-start;
                margin-top: 2vh;
                margin-left: 8vw;
                background: #F9B640;
                width: 150px;
                height: 50px; 
        
            }
            .link__client{
                display:flex;
                justify-content:flex-start;
                align-items: flex-start;
                margin-left: 30vw;
                margin-bottom: 5vh;
                margin-top: -3.7vh;
                font-family: 'Larsseit', sans-serif;
                font-size: 1.2em;
                font-weight: bolder;
                letter-spacing: 0.1em;
                color: #FAB63E;}

        .flexcontainer__blue{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items:flex-end;
            margin-top: 0vh;
            width: 100vw;
            /*height:100vh;*/
            background: #62D0DF;
        }
        .title__second{
            display: none;
        }
        .title__second_description{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-top: 0vh;
            margin-left:8vw;        
            padding-right:10vw;
            font-family: 'Larsseit', sans-serif;
            font-size: 2em;
            font-weight: normal;
            letter-spacing: -0.035em;
            color:#FFFFFF
    
        }
        .flexcontainer__white-two{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:flex-end;
            margin-top: 10vh;
            padding-right: 10vw;;
            width: 100vw;
            background: #ffffff;
        }
        .thrive__about{
            display:flex;
            align-items: flex-end;
            justify-content: center;
            margin-top:-10vh;
            margin-left:-2vw;
            padding-right:9vw;
            padding-left:10vw;
            font-family: 'Larsseit', sans-serif;
            font-size: 2em;
            line-height: 100%;
            letter-spacing: 0.005em;
            color: #22356F; 
        }
        .img__girl,.title__help,.title__thrive-about{
            display:none;
        }
        .gridcontainter-footer{
                display: grid;
                grid-gap: 5px;
                grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
                grid-template-rows: repeat(2, 1fr);
            }/*?-ПОЧЕМУ-ТО НЕ СВОРАЧИВАЕТСЯ В КОЛОНКУ*/
            .gridcontainer-footer__weight, .gridcontainer-footer__run, .gridcontainer-footer__pump1,.gridcontainer-footer__pump2{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-family: 'Larsseit', sans-serif;
                font-size: 1em;
                line-height: 110%;
                font-style: normal;
                letter-spacing: -0.006em;
                color: #ffffff;
            }
        }
        @media screen and (max-width: 350px){
            nav.menu { 
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction:row;
                gap: 5px;
                font-family: 'Larsseit', sans-serif;
                font-size: 1em;
                line-height: 120%;
                margin-left: -95vw;
                margin-bottom: 0vh;
                margin-top: -10vh;
            }  
            .title__main{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap:wrap;
                margin-top: 2vh;
                margin-left: -40vw;
                margin-right: 0vw;
                font-family: 'Larsseit', sans-serif;
                font-size: 3em;
                line-height: 120%;
                font-weight: bold;
                letter-spacing: 0.025em;
                color: #22356F;
                }      
                .title__description{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: flex-end;
                    flex-direction: row;  
                    margin-top: 37vh;
                    margin-left: -65vw;
                    padding-right: 80vw;
                    padding-left: 0vw;
                    font-family:'Larsseit', sans-serif;
                    font-size: 2em;
                    font-weight: normal;
                    line-height: 100%;
                    color: #22356F;
                }
                .link__client{
                    display:flex;
                    justify-content:flex-start;
                    align-items: flex-start;
                    margin-left: 10vw;
                    margin-bottom: 5vh;
                    margin-top: 3vh;
                    font-family: 'Larsseit', sans-serif;
                    font-size: 1.2em;
                    font-weight: bolder;
                    letter-spacing: 0.1em;
                    color: #FAB63E;}

                    .gridcontainer-footer{
                        display: none;
                    } }
   /* @media screen and (min-width:2000px){
        .title{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap:wrap;
            margin-top: 2vh;
            margin-left: -7vw;
            margin-right: 0vw;
            font-family: 'Larsseit', sans-serif;
            font-size: 4em;
            line-height: 120%;
            font-weight: bold;
            letter-spacing: 0.025em;
            color: #22356F;
            }      
            .title__description{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-content: center;
                flex-direction: row;  
                margin-top: 25vh;
                margin-left: -33vw;
                padding-right: 60vw;
                padding-left: 11vw;
                font-family:'Larsseit', sans-serif;
                font-size: 2.5em;
                font-weight: normal;
                line-height: 100%;
                color: #22356F;
            }  
    }
    /*     

/*



h2{
display: flex;
justify-content:center;
font-family: 'Larsseit', sans-serif;
font-size: 36px;
letter-spacing: -0.006em;
color: #FFFFFF;
}*/

/*
.button{
display:flex;
align-items: center;
justify-content: flex-start;
flex-shrink: 1;
margin: 0;
padding: 0;
background: #62D0DF;
border-radius: 45px;
}

    /*.img2{
            display: flex;
            justify-content: flex-start;
            align-content: flex-start;
            margin-top: -80vh;
            margin-left: -75vw;
            background: #EDFDFF;
            border-radius: 312.159px;
            transform: matrix(-0.2, 0.1, 0.1, 0.2, 0, 0);
        }
   

.item0{
text-decoration: none;
font-family: 'Larsseit', sans-serif;
font-size: 12px;}



.article1{
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
text-align: left;
top: 330px;
margin:100 0 10;
padding: 100 0 10;
font-family: 'Larsseit', sans-serif;
font-size: 24px;
line-height: 35px;

color: #FFFFFF;
}

.img3{
background: url(./assets/images/christopher-campbell-40367.png);
}
.article2{
font-family: 'Larsseit', sans-serif;
font-size: 24px;
line-height: 34px;
letter-spacing: 0.005em;
color: #22356F;

}
.box1{
background: #FFE2DE;
}
.box2{
background: #C4E769;
}
.box3{
background: #62D0DF;
}
.box4{
background: #0052C1;
}
.circle1, .circle2, .circle3, .circle4{
background: #E9B730;
}
.circle1{

}
.circle1{

}
.circle1{

}
.circle1{

}
.theme1, .theme2, .theme3, .theme4{
font-family: 'Larsseit', sans-serif;
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;
color: #FFFFFF;
}
.theme1{
}
.theme2{
}
.theme3{
}
.theme4{
}*/
