a{
    text-decoration: none;
    color: #22356F;
}
.header{
    display:flex;
    background-color: #F4F9E2;
}
.flexcontainer-yellow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: -5vh;
    background-color: #F4F9E2;
}
/*main{
    display: flex;
    flex-direction: row;
}*/
.h1, .h2{
    font-family: 'Larsseit', sans-serif;
    font-size: 2.5em;
    letter-spacing: -0.035em;
    color: #62D0DF;
}
.h1{ 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom:25vh;
    margin-left: 9vw;
    margin-top: 2.2vh;
    }
.h2{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 50vh;
        margin-left: 9vw;
        margin-top: -5vh;
    }
    .h2__white{
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0vh;
        margin-bottom: 30vh;
        margin-left:10vw;
        font-family: 'Larsseit', sans-serif;
        font-size: 2.5em;
        font-weight: bolder;
        line-height: 120%;
        letter-spacing: -0.035em;
        color:#FFFFFF
    }
    .h3__white-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: -25vh;
        margin-left:-5vw;        
        padding-right:10vw;
        font-family: 'Larsseit', sans-serif;
        font-size: 2.5em;
        font-weight: normal;
        letter-spacing: -0.035em;
        color:#FFFFFF

    }
    .h4{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left:3vw;
    /*
    margin-right: 2vw;*/
    font-family: 'Larsseit', sans-serif;
    font-size: 1.5em;
    line-height: 120%;
    letter-spacing: 0.06em;
    font-weight: lighter;
    color: #22356F;
    }
    .h5{  
        display:flex;
        justify-content: center;
        align-items: flex-end;
        margin-left:1vw;
        margin-top:5vh;
        font-family: 'Larsseit', sans-serif;
        font-size: 1.5em;
        line-height: 120%;
        letter-spacing: 0.06em;
        font-weight: lighter;
        color: rgba(34, 53, 111, 0.5);
    } 
nav.menu { 
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: row;
        gap: 15px;
        font-family: 'Larsseit', sans-serif;
        font-size: 1.5em;
        line-height: 120%;
        margin-left: -60vw;
        margin-bottom: 0vh;
        margin-top: 1vh;
    }
    .button{
        display:flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 200px;
        height:70px;
        margin-left:59vw;
        margin-top:0vh;
        padding-right:3vw;
        padding-left:3vw;
        padding-bottom:2vh;
        background: #62D0DF;
        border-radius: 55px;
        }
    .contact{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        font-family: 'Larsseit', sans-serif;
        margin-top: 2vh;
        font-size:1.9em;
        line-height: 100%;        
        border:1;
        text-decoration: none;
        color: #FFFFFF;
    }
    .title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    margin-top: -35vh;
    margin-left: -9vw;
    margin-right: 0vw;
    font-family: 'Larsseit', sans-serif;
    font-size: 4em;
    line-height: 120%;
    font-weight: bold;
    letter-spacing: 0.025em;
    color: #22356F;
    }      
    .title__description{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        flex-direction: row;  
        margin-top: 18vh;
        margin-left: -30vw;
        padding-right: 29vw;
        padding-left: 1vw;
        font-family:'Larsseit', sans-serif;
        font-size: 2.5em;
        font-weight: normal;
        line-height: 100%;
        color: #22356F;
    }     
    .img1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -67vh;
        margin-left: 63vw;
    }      
    .button__orange{
        display:flex;
        justify-content: center;
        align-content: flex-start;
        margin-top: -10vh;
        margin-left: 10vw;
        background: #F9B640;
        width: 150px;
        height: 50px; 

    }
    .gridcontainter{
        display: flex;
        /*grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-row:1/4; 
        grid-column:1/4;*/
        width:100vw;
    }      
    .title__description-button-orange{
        display:flex;
        align-items: center;
        font-family: 'Larsseit', sans-serif;
        font-weight: bolder;
        font-size: 1.2em;
        letter-spacing: 0.1em;    
        color: #FFFFFF;
    }      
    .title__description-orange{
        display:flex;
        justify-content:flex-start;
        align-items: flex-start;
        margin-left: 30vw;
        margin-bottom: 5vh;
        margin-top: -2.6vh;
        font-family: 'Larsseit', sans-serif;
        font-size: 1.2em;
        font-weight: bolder;
        letter-spacing: 0.1em;
        color: #FAB63E;
    }
    .flexcontainer-blue{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:flex-end;
        /* margin-top: 20vh;*/
        width: 100vw;
        background: #62D0DF;
    }
    .flexcontainer-blue_two{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-end;
        /* margin-top: 20vh;*/
        width: 100vw;
        background: #62D0DF;
    }
    .flexcontainer-white{
        display: flex;
        justify-content: flex-start;
        align-items:flex-end;
        /* margin-top: 20vh;*/
        width: 100vw;
        background: #ffffff;
    }
    .flexcontainer-white_two{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
        margin-top: 40vh;
        padding-right: 15vw;;
        width: 100vw;
        background: #ffffff;
    }
    .thrive__about{
        display:flex;
        align-items: flex-start;
        justify-content: center;
        margin-top:-50vh;
        margin-left:10vw;
        padding-right:10vw;
        font-family: 'Larsseit', sans-serif;
        font-size: 2em;
        line-height: 100%;
        letter-spacing: 0.005em;
        color: #22356F; 
    }
    .img3{
        display: flex;
        justify-content: flex-start;
        margin-right: 2vw;
    }
    .menu a:hover, .button__orange:hover, .contact:hover, .title__description-orange:hover{
            text-decoration: underline;
            color: gray;
            cursor: pointer;
    }
    /*     

/*



h2{
display: flex;
justify-content:center;
font-family: 'Larsseit', sans-serif;
font-size: 36px;
letter-spacing: -0.006em;
color: #FFFFFF;
}*/

/*
.button{
display:flex;
align-items: center;
justify-content: flex-start;
flex-shrink: 1;
margin: 0;
padding: 0;
background: #62D0DF;
border-radius: 45px;
}

    /*.img2{
            display: flex;
            justify-content: flex-start;
            align-content: flex-start;
            margin-top: -80vh;
            margin-left: -75vw;
            background: #EDFDFF;
            border-radius: 312.159px;
            transform: matrix(-0.2, 0.1, 0.1, 0.2, 0, 0);
        }
   

.item0{
text-decoration: none;
font-family: 'Larsseit', sans-serif;
font-size: 12px;}



.article1{
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
text-align: left;
top: 330px;
margin:100 0 10;
padding: 100 0 10;
font-family: 'Larsseit', sans-serif;
font-size: 24px;
line-height: 35px;

color: #FFFFFF;
}

.img3{
background: url(./assets/images/christopher-campbell-40367.png);
}
.article2{
font-family: 'Larsseit', sans-serif;
font-size: 24px;
line-height: 34px;
letter-spacing: 0.005em;
color: #22356F;

}
.box1{
background: #FFE2DE;
}
.box2{
background: #C4E769;
}
.box3{
background: #62D0DF;
}
.box4{
background: #0052C1;
}
.circle1, .circle2, .circle3, .circle4{
background: #E9B730;
}
.circle1{

}
.circle1{

}
.circle1{

}
.circle1{

}
.theme1, .theme2, .theme3, .theme4{
font-family: 'Larsseit', sans-serif;
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;
color: #FFFFFF;
}
.theme1{
}
.theme2{
}
.theme3{
}
.theme4{
}*/
